mixin retinaImg(name, class_name, width, height, alt, loading="eager", format="webp", basePath="./img/")
	picture 
		source(srcset=`${basePath}${name}@2x.${format} 2x, ${basePath}${name}@3x.${format} 3x`, type=`image/${format}`)
		img(class=class_name, src=`${basePath}${name}.${format}`, width=width, height=height, alt=alt, loading=loading)
